{% extends "hospital_is/base_wide.html" %}
{% block content %}
{% load customtags %}
 {% load multifor %}

{% if user.is_authenticated  %}
{% if user|is_admin or user|is_insurance_w %}

 <header class="masthead  mastheadinsurance text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row" >
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5"></br>Pending requests</br></br></br></h1>
        </div >
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        </div>
      </div>
    </div>
  </header>

<div class="table-responsive" style="width: 95%; margin:auto; margin-top:25px;">
{% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
<table id="search_table" class="table table-bordered " style="width:100%">

        <thead class="sorting">
                <th >patient</th>
                <th>Operation</th>
                <th>Description</th>
                <th>edit</th>
        </thead>
          <tbody id="tablebody" >
            {% for m in Compensation_request %}
            {% if m.status == 0%}
            <tr>
                <td>{{ m.ticket_id|get_username_request:Ticket }}</td>
                <td>{{ m.Operation_r }}</td>
                <td>{{ m.Description_r }}</td>

                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                <td><input type="submit" name={{m.id}} onclick="return confirm('Are you sure you want to decline this request?')" value="Decline"><input type="submit" name="{{m.id}}" onclick="return confirm('Are you sure you want to accept this request?')" id="accept" value="Accept"></td>
                </form>
            </tr>
              {% endif %}
          {% endfor %}

          </tbody>
       <tfoot>
        <th class="order">patient</th>
        <th class="order">Operation</th>
        <th class="order">Description</th>
        <th class="order">edit</th>
        </tfoot>
    </table>
  </div>

    <header class="masthead  mastheadinsurance2 text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row" >
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5"></br>Resolved requests</br></br></br></h1>
        </div >
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        </div>
      </div>
    </div>
  </header>
<div class="table-responsive" style="width: 95%; margin:auto;">
<div class="table-responsive" style="width: 95%;">
    <table id="search_table2" class="table table-bordered " style="width:100%">

            <thead class="sorting">
                    <th >patient</th>
                    <th>Operation</th>
                    <th>Description</th>
                    <th>status</th>
                    {% if user|is_admin %}
                    <th class="order">edit</th>
                    {% endif %}
            </thead>
              <tbody id="tablebody" >
                {% for m in Compensation_request %}
                  {% if m.status != 0 %}

                <tr>
                    <td>{{ m.ticket_id|get_username_request:Ticket }}</td>
                    <td>{{ m.Operation_r }}</td>
                    <td>{{ m.Description_r }}</td>
                    {% if m.status == 1 %}
                    <td>accepted</td>


                    {% if user|is_admin %}
                    <form method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                    <td><input type="submit" name={{m.id}} onclick="return confirm('Are you sure you want to decline this request?')" value="Decline"><input type="submit" name="{{m.id}}" onclick="return confirm('Are you sure you want to change state of this request to pending?')" value="Pending"></td>
                  </form>

                    {% endif %}
                    {% else %}
                    <td>not accepted</td>
                    {% if user|is_admin %}
                    <form method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                    <td><input type="submit" name={{m.id}} onclick="return confirm('Are you sure you want to accept this request?')" value="Accept"><input type="submit" name="{{m.id}}" onclick="return confirm('Are you sure you want to change state of this request to pending?')"  value="Pending"></td>
                    {% endif %}
                  </form>

                    {% endif %}
                </tr>

                {% endif %}
            {% endfor %}
              </tbody>
           <tfoot>
            <th class="order">patient</th>
            <th class="order">Operation</th>
            <th class="order">Description</th>
            <th class="order">status</th>
            {% if user|is_admin %}
            <th class="order">edit</th>
            {% endif %}
            </tfoot>
        </table>
</div>
</div>
</div>
{% endif %}
{% endif %}

<script>
$(document).ready(function() {
  // Setup - add a text input to each footer cell
  $('#search_table tfoot th').each( function () {
    var title = $('#search_table thead th').eq( $(this).index() ).text();
    $(this).html( '<input style="width:95%;" type="text" placeholder="Search '+title+'" />' ); } );
    // DataTable
     var table = $('#search_table').DataTable( { "scrollX": true  } );
    // Apply the search
    table.columns().eq( 0 ).each( function ( colIdx )
    { $( 'input', table.column( colIdx ).footer() ).on( 'keyup change', function ()
    { table .column( colIdx ) .search( this.value ) .draw(); } ); } ); } );

$(document).ready(function() {
  // Setup - add a text input to each footer cell
  $('#search_table2 tfoot th').each( function () {
    var title = $('#search_table2 thead th').eq( $(this).index() ).text();
    $(this).html( '<input style="width:95%;" type="text" placeholder="Search '+title+'" />' ); } );
    // DataTable
    var table = $('#search_table2').DataTable();
    // Apply the search
    table.columns().eq( 0 ).each( function ( colIdx )
    { $( 'input', table.column( colIdx ).footer() ).on( 'keyup change', function ()
    { table .column( colIdx ) .search( this.value ) .draw(); } ); } ); } );
</script>
{% endblock content %}
