{% extends "hospital_is/base_wide.html" %}
{% block content %}
{% load customtags %}

{% if user.is_authenticated  %}
{% if user|is_admin or user|is_insurance_w %}

<header class="masthead  mastheadcompensated text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row" >
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5"></br>Compensated operations</br></br></br></h1>
        </div >
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        </div>
      </div>
    </div>
  </header>
{% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
<div class="table-responsive" style="width: 95%; margin:auto;">
<a class="btn btn-outline-info add_new_btn" href="{% url 'compensation_operations_create' %}">Create compensated operation</a>
<table id="search_table" class="table table-bordered " style="width:100%">

        <thead class="sorting">
                <th >Operation</th>
                <th>Description</th>
                <th class="order" >more</th>
        </thead>
          <tbody id="tablebody" >

          {% for m in Compensated_operations %}
            <tr>
                <td>{{m.Operation}}</td>
                <td>{{m.Description}}</td>
                <td><a style="width:100%;" class="btn btn-outline-info" href="{% url 'compensation_operations_edit' m.Operation %}">view more</a></td>
            </tr>
          {% endfor %}

          </tbody>
       <tfoot>
         <th >Operation</th>
         <th>Description</th>
        <th class="order" >more</th>
      </foot>
    </table>  

{% endif %}
{% endif %}


</div>
<script>

$(document).ready(function() {
  // Setup - add a text input to each footer cell
  $('#search_table tfoot th').each( function () {
    var title = $('#search_table thead th').eq( $(this).index() ).text();
    $(this).html( '<input type="text" placeholder="Search '+title+'" />' ); } );
    // DataTable
    var table = $('#search_table').DataTable();
    // Apply the search
    table.columns().eq( 0 ).each( function ( colIdx )
    { $( 'input', table.column( colIdx ).footer() ).on( 'keyup change', function ()
    { table .column( colIdx ) .search( this.value ) .draw(); } ); } ); } );

//sorting


</script>


{% endblock content %}
