{% extends "hospital_is/base.html" %}
{% block content %}
{% load customtags %}
 
{% if user.is_authenticated  %}
<table id="example" class="table table-striped table-bordered" style="width:100%">

        {% if user.id|id_eq:doctor%}
        <thead>
            <tr>
                <th>Medical problem</th>
                <th>description</th>
                <th>Status</th>
            </tr>
        </thead>
        {% endif %}
          <tbody>
          {% for p in Medical_problem %}

            {% if user.id == p.Doctor_ID %}
              <tr>
                  <td>{{ user.id }}</td>
                  <td>{{ p.Title }}</td>
                  <td>{{ p.Description }}</td>
                  <td>{{ p.Status }}</td>
              </tr>
            {% endif %}
          {% endfor %}
          </tbody>

        <tfoot>
            <tr>
                <th>Medical problem</th>
                <th>description</th>
                <th>Status</th>
            </tr>
        </tfoot>
    </table>
    
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %} 
       {% endif %}
{% endif %}
<!-- footer block-->
{% endblock content %}


