
{% extends "hospital_is/base.html" %}
{% load customtags %}


{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated  %}
    <div class="content-section">
        {% if  user|is_doctor %}
          {% for m in Medical_problem %}
          {% if  m.Doctor_ID == user.id and m.id == pk%}
          <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <fieldset class="form-group">

                  <legend class="border-bottom mb-4">Medical problem info</legend>
                  {{ formset.management_form }}
                  {% for form in formset %}
                  {% if forloop.first %}
                  <legend class="border-bottom mb-4">Username pacienta</legend>
                  {% else %}
                  <legend class="border-bottom mb-4">Username doktora</legend>
                  {% endif %}
                    {{form}}
                  {%endfor%}
                  {{ m_form|crispy }}
              </fieldset>
              <div class="form-group">
                  <button class="btn btn-outline-info" type="submit">Update</button>
                  <a href="{% url 'delete_medical_problem' pk %}">Delete medical problem</a>

              </div>
          </form>
          {% endif %}
        {% endfor %}
        {% endif %}
        {% if  user|is_admin %}

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">

                        <legend class="border-bottom mb-4">Medical problem info</legend>
                        {{ formset.management_form }}
                        {% for form in formset %}
                        {% if forloop.first %}
                        <legend class="border-bottom mb-4">Username pacienta</legend>
                        {% else %}
                        <legend class="border-bottom mb-4">Username doktora</legend>
                        {% endif %}
                          {{form}}
                        {%endfor%}
                        {{ m_form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Update</button>
                          <a href="{% url 'delete_medical_problem' pk %}">Delete medical problem</a>
                    </div>
                </form>
          {% endif %}

	<!-- /Error messaging -->

            <!---    <h1>Title: {{m.Title}} </h1>

                <h3>patient: <br>
                    username: {{ m.Patient_ID|get_username:AuthUser  }}<br>
                    first_name: {{ m.Patient_ID|get_first_name:AuthUser  }}<br>
                    last_name: {{ m.Patient_ID|get_last_name:AuthUser  }}
                    </h3>
                <h3>doctor: <br>
                      username: {{ m.Doctor_ID|get_username:AuthUser  }}<br>
                      first_name: {{ m.Doctor_ID|get_first_name:AuthUser  }}<br>
                      last_name: {{ m.Doctor_ID|get_last_name:AuthUser  }}

                </h3>
                <p>Desription: <br> {{m.Description}}</p>
                </p> -->
    </div>
    {% endif %}

{% endblock content %}
