{% extends "hospital_is/base_wide.html" %}
{% block content %}
{% load customtags %}

{% if user.is_authenticated  %}

<div style=" margin:auto; margin-top:120px;">
{% if  user|is_admin %}
<td><a class="btn btn-outline-info add_new_btn" href="{% url 'medical_ticket_create' pk %}">create new ticket</a></td>
<table id="search_table" class="table table-bordered " style="width:100%">
        <thead class="sorting">
              <th >Patient</th>
                <th >Doctor</th>
                <th>Operation</th>
                <th>Status</th>
                <th>Description</th>
                <th>create_date</th>
                <th class="order" >edit</th>
                <th class="order" >delete</th>
        </thead>
          <tbody id="tablebody" >

          {% for m in Ticket %}
            {% if m.Medical_problem_ID == pk %}
              <tr>
                <td>{{ m.Medical_problem_ID|get_username_ticket:Medical_problem  }}</td>
                <td>{{ m.Doctor_ID|get_username:AuthUser  }}</td>
                <td>{{ m.Operation}}</td>
                  <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                {% if m.Status == 1 %}

                    <td><input  style="width:100%;" class="btn btn-outline-info" type="submit" name={{m.id}} onclick="return confirm('Are you sure you want to open this ticket?')" value="closed" label = "del" ></td>
                {% elif m.Status == 0 %}

                    <td><input  style="width:100%;" class="btn btn-outline-info" type="submit" name={{m.id}} onclick="return confirm('Are you sure you want to close this ticket?')" value="opened" label="open"></td>
                {% else %}
                <td>Doctor neexistuje, vytvorit novy tiket</td>
                {% endif %}

                <td>{{m.Description}}</td>
                <td>{{m.created}}</td>
                <td><a style="width:100%;" class="btn btn-outline-info" href="{% url 'medical_ticket_record' m.id %}">fill data</a></td>
                <td><input type="submit" style="width:100%;" class="btn btn-outline-info"   name={{m.id}} onclick="return confirm('Are you sure you want to delete this ticket?')" label="Delete" value="Delete"  ></td>
                </form>
              </tr>
            {% endif %}
          {% endfor %}

          </tbody>
       <tfoot>
         <th >Patient</th>
         <th >Doctor</th>
         <th>Operation</th>
         <th>Status</th>
         <th>Description</th>
         <th>created</th>
        <th class="order" >edit</th>
        <th class="order" >delete</th>
      </tfoot>
    </table>
{% elif  user|is_doctor %}
  {% for j in Medical_problem %}
  {% if  j.Doctor_ID == user.id and j.id == pk%}
  <td><a class="btn btn-outline-info add_new_btn" href="{% url 'medical_ticket_create' pk %}">create new ticket</a></td>
  <table id="search_table" class="table table-bordered " style="width:100%">
          <thead class="sorting">
                  <th >Patient</th>
                  <th >Doctor</th>
                  <th>Operation</th>
                  <th>Status</th>
                  <th>Description</th>
                  <th>create_date</th>
                  <th class="order" >edit</th>
                  <th class="order" >delete</th>
          </thead>
            <tbody id="tablebody" >

            {% for m in Ticket %}
              {% if m.Medical_problem_ID == pk %}
              <tr>
                  <td>{{ m.Medical_problem_ID|get_username_ticket:Medical_problem  }}</td>
                  <td>{{ m.Doctor_ID|get_username:AuthUser  }}</td>
                  <td>{{ m.Operation}}</td>
                  <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <td><a style="width:100%;" class="btn btn-outline-info" href="#">
                  {% if m.Status == 1%}
                    closed

                  {% elif m.Status == 0 %}
                    open

                  {% else %}
                    Doctor neexistuje

                  {% endif %}
                  </a></td>
                  <td>{{m.Description}}</td>
                  <td>{{m.created}}</td>
                  <td><a style="width:100%;" class="btn btn-outline-info" href="{% url 'medical_ticket_record' m.id %}">fill data</a></td>
                  <td><input type="submit"  class="btn btn-outline-info" name={{m.id}} onclick="return confirm('Are you sure you want to delete this ticket?')" label="Delete" value="Delete" ></td>
                  </form>
              </tr>
              {% endif %}
            {% endfor %}

            </tbody>
         <tfoot>
           <th >Patient</th>
           <th >Doctor</th>
           <th>Operation</th>
           <th>Status</th>
           <th>Description</th>
           <th>created</th>
          <th class="order" >edit</th>
          <th class="order" >delete</th>
        </tfoot>
      </table>
      {% endif %}
  {% endfor %}
  {% elif  user|is_patient %}
    {% for j in Medical_problem %}
    {% if  j.Patient_ID == user.id and j.id == pk%}
    <table id="search_table" class="table table-bordered " style="width:100%">
            <thead class="sorting">
                    <th >Doctor</th>
                    <th>Operation</th>
                    <th>Status</th>
                    <th>Description</th>
                    <th>create_date</th>
            </thead>
              <tbody id="tablebody" >

              {% for m in Ticket %}
                {% if m.Medical_problem_ID == pk %}
                <tr>
                    <td>{{ m.Doctor_ID|get_username:AuthUser  }}</td>
                    <td>{{ m.Operation}}</td>
                    {% csrf_token %}
                    <td>
                    {% if m.Status == 1%}
                      closed

                    {% elif m.Status == 0 %}
                      open

                    {% else %}
                      Doctor neexistuje

                    {% endif %}
                    </td>
                    <td>{{m.Description}}</td>
                    <td>{{m.created}}</td>
                </tr>
                {% endif %}
              {% endfor %}

              </tbody>
           <tfoot>
             <th >Doctor</th>
             <th>Operation</th>
             <th>Status</th>
             <th>Description</th>
             <th>created</th>
          </tfoot>
        </table>
        {% endif %}
    {% endfor %}
{% endif %}
{% endif %}

</div>

<script>

$(document).ready(function() {
  // Setup - add a text input to each footer cell
  $('#search_table tfoot th').each( function () {
    var title = $('#search_table thead th').eq( $(this).index() ).text();
    $(this).html( '<input type="text" placeholder="Search '+title+'" />' ); } );
    // DataTable
    var table = $('#search_table').DataTable();
    // Apply the search
    table.columns().eq( 0 ).each( function ( colIdx )
    { $( 'input', table.column( colIdx ).footer() ).on( 'keyup change', function ()
    { table .column( colIdx ) .search( this.value ) .draw(); } ); } ); } );

//sorting
</script>

{% endblock content %}
