{% extends "hospital_is/base.html" %}
{% load crispy_forms_tags %}
{% load customtags %}
{% block content %}
{% if  user|is_doctor or user|is_admin%}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create new medical problem</legend>
                {{ formset.management_form }}
                {% for form in formset %}
                {% if forloop.first %}
                <legend class="border-bottom mb-4">Username pacienta</legend>
                {% else %}
                <legend class="border-bottom mb-4">Username doktora</legend>
                {% endif %}
                  {{form}}
                {%endfor%}


                {{ m_form|crispy }}

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
{%endif%}
{% endblock content %}
