
{% extends "hospital_is/base.html" %}
{% load customtags %}


{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated  %}
    <div class="content-section">
        {% if  user|is_doctor %}
          {% for m in Medical_problem %}
          {% if  m.Doctor_ID == user.id and m.id == pk%}

          <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <fieldset class="form-group">

                  <legend class="border-bottom mb-4">Medical problem info</legend>
                  <legend class="border-bottom mb-4">Username pacienta</legend>
                  {{tmp.as_p}}
                    <legend class="border-bottom mb-4">Username doktora</legend>
                  {{tmp2.as_p}}
                  {{ m_form|crispy }}
                  {{Status.as_p}}
              </fieldset>
              {% if m_form.image is not null%}
              <div class="media">
                <img class="rounded-circle account-img" src="{{ m_form.image.value.url }}">
              </div>
              {%endif%}
              <div class="form-group">
                  <button class="btn btn-outline-info" type="submit">Update</button>
                  <input type="submit" name="del" onclick="return confirm('Are you sure you want to delete this medical problem?')" value="Delete">
                <h3>Medical records</h3>
            {%for t in Ticket%}
            {%if t.Medical_problem_ID == m.id %}
            {%for r in Record%}
            {%if r.Ticket_ID == t.id%}
            <h4>Author</h4>
            <p>{{t.Doctor_ID|get_username:AuthUser}}</p>
            <h4>Title</h4>
            <p>{{r.Title}}</p>
            <h4>Description</h4>
            <p>{{r.Description}}</p>

            {%endif%}
            {%endfor%}
            {%endif%}
            {%endfor%}
              </div>
          </form>
          {% endif %}
        {% endfor %}
        {% endif %}
        {% if  user|is_admin %}

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">

                        <legend class="border-bottom mb-4">Medical problem info</legend>
                        <legend class="border-bottom mb-4">Username pacienta</legend>
                        {{tmp.as_p}}
                          <legend class="border-bottom mb-4">Username doktora</legend>
                        {{tmp2.as_p}}
                        {{ m_form|crispy }}
                        {{Status.as_p}}
                    </fieldset>
                    <div class="form-group">
                      {% if m_form.image is not None%}
                      <div class="media">
                        <img class="rounded-circle account-img" src="{{ m_form.image.value.url }}">
                      </div>
                      {%endif%}
                        <button class="btn btn-outline-info" type="submit">Update</button>
                        <input type="submit" name="del" onclick="return confirm('Are you sure you want to delete this medical problem?')" value="Delete">
                    </div>
                </form>
          {% endif %}
          {% if  user|is_patient %}

          {% for m in Medical_problem %}
          {% if  m.Patient_ID == user.id and m.id == pk %}
              {% csrf_token %}
              <fieldset class="form-group">

                  <legend class="border-bottom mb-4">Medical problem info</legend>
                  <legend class="border-bottom mb-4">Username pacienta</legend>
                  {{user.username}}
                    <legend class="border-bottom mb-4">Username doktora</legend>
                  <p>{{m.Doctor_ID|get_username:AuthUser}}<br>
                    <legend class="border-bottom mb-4">TItle</legend>

                  {{m.Title}}<br>
                  <legend class="border-bottom mb-4">Description</legend>

                  {{m.Description}}<br>
                  {% if m_form.image is not null%}
                  <div class="media">
                    <img class="rounded-circle account-img" src="{{ m_form.image.value.url }}">
                  </div>
                  {%endif%}
                  {%if m.Status == 0%}
                    active
                  {%elif m.Status == 1%}
                    waiting
                  {%else %}
                  finished
                  {%endif%}<br></p>
              <div class="form-group">
                <h3>Medical records</h3>
            {%for t in Ticket%}
            {%if t.Medical_problem_ID == m.id %}
            {%for r in Record%}
            {%if r.Ticket_ID == t.id%}
            <h4>Author</h4>
            <p>{{t.Doctor_ID|get_username:AuthUser}}</p>
            <h4>Title</h4>
            <p>{{r.Title}}</p>
            <h4>Description</h4>
            <p>{{r.Description}}</p>

            {%endif%}
            {%endfor%}
            {%endif%}
            {%endfor%}
              </div>
          {% endif %}
        {% endfor %}
        {% endif %}

	<!-- /Error messaging -->

            <!---    <h1>Title: {{m.Title}} </h1>

                <h3>patient: <br>
                    username: {{ m.Patient_ID|get_username:AuthUser  }}<br>
                    first_name: {{ m.Patient_ID|get_first_name:AuthUser  }}<br>
                    last_name: {{ m.Patient_ID|get_last_name:AuthUser  }}
                    </h3>
                <h3>doctor: <br>
                      username: {{ m.Doctor_ID|get_username:AuthUser  }}<br>
                      first_name: {{ m.Doctor_ID|get_first_name:AuthUser  }}<br>
                      last_name: {{ m.Doctor_ID|get_last_name:AuthUser  }}

                </h3>
                <p>Desription: <br> {{m.Description}}</p>
                </p> -->
    </div>
    {% endif %}

{% endblock content %}
