{% extends "hospital_is/base.html" %}
{% load crispy_forms_tags %}
{% load customtags %}
{% block content %}
{% if  user|is_doctor or user|is_admin%}
{% if form.errors %}
    {% for field, errors in form.errors.items %}
        {{ errors }}
    {% endfor %}
{% endif %}
<div style=" margin:auto; margin-top:120px;">
      <form method="POST"  enctype="multipart/form-data">
    <div class="content-section">
        <form method="POST"  enctype="multipart/form-data">
          {% csrf_token %}

          {%if user|is_doctor%}
          {%for t in Ticket%}
          {%if t.id == pk %}
          {%if t.Doctor_ID == user.id%}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Medical Record for Ticket </legend>

              {{ record_f|crispy }}
              {%for p in Picture %}
              {%if pk == p.r_id %}
              <div class="media">
                <img class="rounded-circle account-img" src="{{ p.image.value.url }}">
              </div>
              {%endif%}
              {%endfor%}
              {{ picture_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
          {%else%}
          {%for m in Medical_problem%}
          {%if m.id == t.Medical_problem_ID and m.Doctor_ID == user.id%}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Medical Record for Ticket </legend>

              {{ record_f|crispy }}
              {%for m in Medical_record%}
              {%if pk == m.Ticket_ID %}
              {%for p in Picture%}

              {%if m.id == p.r_id %}

              <div class="media">
                <img class="rounded-circle account-img" src="{{ p.Image.url }}">
              </div>
              {%endif%}
              {%endfor%}
              {%endif%}
              {%endfor%}
              {{ picture_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Post</button>
          </div>
          {%endif%}
          {%endfor%}
          {%endif%}
          {%endif%}
          {%endfor%}
          {%endif%}
          {% if user|is_admin%}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Medical Record for Ticket </legend>


              {{ record_f|crispy }}
    {{ formset.management_form }}
        {% for form in formset %}
        {% if forloop.last %}

        {{ form }}

        {%else%}
        {{ form }}
                      <div class="media">
                        <img id="{{ form.Image.value.url }}" alt="x-ray" onClick="on_click(this.id)" lass="rounded-circle account-img" src="{{ form.Image.value.url }}">
                      </div>
        {%endif%}
        {% endfor %}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Post</button>
          </div>
          {%endif%}

        </form>
    </div>
    </div>
{% endif %}
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>

<script>
  function on_click(clicked_id)
  {

// Get the modal
var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById(clicked_id);
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

}
</script>
{% endblock content %}
