{% extends "hospital_is/base_wide.html" %}
{% block content %}
{% load customtags %}
 <header class="masthead  mastheadmedical_problems text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row" >
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5"></br>Medical problems</br></br></br></h1>
        </div >
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        </div>
      </div>
    </div>
  </header>

<div class="table-responsive" style="width: 95%; margin:auto;margin-top:25px;">
{% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
{% if user.is_authenticated  %}
{% if user|is_patient  %}
<table id="search_table" class="table table-bordered " style="width:100%">

        <thead class="sorting">
          <th >patient</th>
          <th>title</th>
          <th>create_date</th>
          <th>status</th>
          <th>update_date</th>
          <th>view more</th>
          <th>view examinations</th>
        </thead>
          <tbody id="tablebody" >

          {% for m in Medical_problem %}
          {% if  user.id == pk and user.id == m.Patient_ID %}
          <tr>
              <td>{{ m.Doctor_ID|get_username:AuthUser  }}</td>
              <td>{{ m.Title }}</td>
              <td>{{ m.created.year}}-{{m.created.month}}-{{m.created.day}}</td>
              {% if m.Status == 0  %}
                <td>active</td>
              {% elif m.Status == 1 %}
                <td>waiting</td>
              {% else %}
                <td>finished</td>
              {% endif %}
                <td>{{ m.created.year}}-{{m.created.month}}-{{m.created.day}}</td>
              <td><a class="btn btn-outline-info" style="width:100%" href="{% url 'medical_problem_edit' m.id %}">view more</a></td>
              <td><a class="btn btn-outline-info" style="width:100%" href="{% url 'medical_problem_tickets' m.id %}">examinations</a></td>
          </tr>
          {% endif %}
          {% endfor %}
          </tbody>
       <tfoot>
         <th>patient</th>
         <th>title</th>
         <th>create_date</th>
         <th>status</th>
         <th>update_date</th>
         <th>view more</th>
         <th>view examinations</th>
        </tfoot>
    </table>
{% endif %}
{% endif %}
</div>

<script>
$(document).ready(function() {
  // Setup - add a text input to each footer cell
  $('#search_table tfoot th').each( function () {
    var title = $('#search_table thead th').eq( $(this).index() ).text();
    $(this).html( '<inputstyle="width:95%;" type="text" placeholder="Search '+title+'" />' ); } );
    // DataTable
     var table = $('#search_table').DataTable( { "scrollX": true  } );
    // Apply the search
    table.columns().eq( 0 ).each( function ( colIdx )
    { $( 'input', table.column( colIdx ).footer() ).on( 'keyup change', function ()
    { table .column( colIdx ) .search( this.value ) .draw(); } ); } ); } );
</script>

{% endblock content %}
