{% extends "hospital_is/base_wide.html" %}
{% block content %}
{% load customtags %}

{% if user.is_authenticated  %}
{% if user|is_admin  %}
 <header class="masthead  mastheadmedical_problems text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row" >
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5"></br>Medical problems</br></br></br></h1>
        </div >
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        </div>
      </div>
    </div>
  </header>
  {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
<div class="table-responsive" style="width: 95%; margin:auto;">
 <a class="btn btn-outline-info add_new_btn" href="{% url 'medical_problem_create' %}" >New medical problem</a>
<table id="search_table" class="table table-bordered " style="width:100%">

        <thead class="sorting">
                <th >patient</th>
                <th>doctor</th>
                <th>title</th>
                <th>status</th>
                <th>update_date</th>
                <th>edit/view</th>
                <th>view tickets</th>
        </thead>
          <tbody id="tablebody" >

          {% for m in Medical_problem %}
            <tr>
                <td>{{ m.Patient_ID|get_username:AuthUser  }}</td>
                <td>{{ m.Doctor_ID|get_username:AuthUser  }}</td>
                <td>{{ m.Title }}</td>
                <td id="status">
                {% if m.Status == 0  %}
                  active
                {% elif m.Status == 1 %}
                  waiting
                {% else %}
                  finished
                {% endif %}
                </td>
                    <td>{{ m.created.year}}-{{m.created.month}}-{{m.created.day}}</td>
                <td><a style="width:100%;" class="btn btn-outline-info" href="{% url 'medical_problem_edit' m.id %}">edit/view</a></td>
                <td><a style="width:100%;"class="btn btn-outline-info" href="{% url 'medical_problem_tickets' m.id %}">tickets</a></td>
            </tr>
          {% endfor %}

          </tbody>
       <tfoot>
        <th>patient</th>
        <th>doctor</th>
        <th>title</th>
        <th>status</th>
        <th>update_date</th>
        <th>edit/view</th>
        <th>view tickets</th>
    </table>

{% endif %}
{% endif %}

</div>

<script>




$(document).ready(function() {
  // Setup - add a text input to each footer cell
  $('#search_table tfoot th').each( function () {
    var title = $('#search_table thead th').eq( $(this).index() ).text();
    $(this).html( '<inputstyle="width:95%;" type="text" placeholder="Search '+title+'" />' ); } );
    // DataTable
     var table = $('#search_table').DataTable( { "scrollX": true  } );
    // Apply the search
    table.columns().eq( 0 ).each( function ( colIdx )
    { $( 'input', table.column( colIdx ).footer() ).on( 'keyup change', function ()
    { table .column( colIdx ) .search( this.value ) .draw(); } ); } ); } );

//sorting


</script>


{% endblock content %}
