{% extends "hospital_is/base.html" %}
{% block content %}
{% load customtags %}

<div style=" margin:auto; margin-top:120px;">
{% if user.is_authenticated  %}
{% if user|is_patient  %}
<table id="search_table" class="table table-bordered " style="width:100%">

        <thead class="sorting">
          <th >patient</th>
          <th>title</th>
          <th>create_date</th>
          <th>status</th>
          <th>update_date</th>
          <th>view more</th>
        </thead>
          <tbody id="tablebody" >

          {% for m in Medical_problem %}
          {% if  user.id == pk and user.id == m.Patient_ID %}
          <tr>
              <td>{{ m.Doctor_ID|get_username:AuthUser  }}</td>
              <td>{{ m.Title }}</td>
              <td>{{ m.created }}</td>
              {% if m.Status == 0  %}
                <td>active</td>
              {% elif m.Status == 1 %}
                <td>waiting</td>
              {% else %}
                <td>finished</td>
              {% endif %}
                  <td>{{m.updated}}</td>
              <td><a href="{% url 'medical_problem_edit' m.id %}">view more</a></td>
          </tr>
          {% endif %}
          {% endfor %}
          </tbody>
       <tfoot>
         <th class="order">patient</th>
         <th class="order">title</th>
         <th class="order">create_date</th>
         <th class="order" >status</th>
         <th class="order">update_date</th>
         <th class="order">view more</th>
        </tfoot>
    </table>


    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
       {% endif %}

</div>
{% endif %}
{% endif %}

<script>




$(document).ready(function() {
  // Setup - add a text input to each footer cell
  $('#search_table tfoot th').each( function () {
    var title = $('#search_table thead th').eq( $(this).index() ).text();
    $(this).html( '<input type="text" placeholder="Search '+title+'" />' ); } );
    // DataTable
    var table = $('#search_table').DataTable();
    // Apply the search
    table.columns().eq( 0 ).each( function ( colIdx )
    { $( 'input', table.column( colIdx ).footer() ).on( 'keyup change', function ()
    { table .column( colIdx ) .search( this.value ) .draw(); } ); } ); } );

//sorting


</script>


{% endblock content %}
