{% extends "hospital_is/base_wide.html" %}
{% block content %}
{% load customtags %}

{% if user.is_authenticated  %}
{% if user|is_doctor %}

<div style=" margin:auto; margin-top:150px;">
<table id="search_table" class="table table-bordered " style="width:100%">


        <thead class="sorting">
                <th >Patient</th>
                <th >Doctor</th>
                <th>Operation</th>
                <th>Status</th>
                <th>Description</th>
                <th>create_date</th>
                <th class="order" >more</th>
                <th class="order" >more</th>
        </thead>
          <tbody id="tablebody" >
    {% for m in Ticket %}
  {%if m.Doctor_ID == pk and m.Doctor_ID == user.id%}
          <tr>
              <td>{{ m.Medical_problem_ID|get_username_ticket:Medical_problem  }}</td>
              <td>{{ m.Medical_problem_ID|get_doctor_ticket:Medical_problem  }}</td>
              <td>{{ m.Operation}}</td>
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
              {% if m.Status == 1 %}

                  <td><input type="submit" name={{m.id}} onclick="return confirm('Are you sure you want to open this ticket?')" value="closed"label = "del"></td>
              {% elif m.Status == 0 %}

                  <td><input type="submit" name={{m.id}} onclick="return confirm('Are you sure you want to close this ticket?')" value="opened" label="open"></td>
                  {%else%}
                  <td>Doctor neexistuje</td>
              {%endif%}
              </form>
              <td>{{m.Description}}</td>
              <td>{{m.created}}</td>
              <td><a href="{% url 'medical_ticket_record' m.id %}">fill data</a></td>
              <td><a href="{% url 'make_compensation' m.id %}">request</a></td>
          </tr>
          {% endif %}
          {% endfor %}
          </tbody>
       <tfoot>
         <th >Patient</th>
         <th >Doctor</th>
         <th>Operation</th>
         <th>Status</th>
         <th>Description</th>
         <th>create_date</th>
        <th class="order" >more</th>
        <th class="order" >more</th>
      </tfoot>
    </table>


    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
       {% endif %}

</div>
{% endif %}
{% endif %}

<script>




$(document).ready(function() {
  // Setup - add a text input to each footer cell
  $('#search_table tfoot th').each( function () {
    var title = $('#search_table thead th').eq( $(this).index() ).text();
    $(this).html( '<input type="text" placeholder="Search '+title+'" />' ); } );
    // DataTable
    var table = $('#search_table').DataTable();
    // Apply the search
    table.columns().eq( 0 ).each( function ( colIdx )
    { $( 'input', table.column( colIdx ).footer() ).on( 'keyup change', function ()
    { table .column( colIdx ) .search( this.value ) .draw(); } ); } ); } );

//sorting


</script>


{% endblock content %}
