{% extends "hospital_is/base_wide.html" %}
{% block content %}
{% load customtags %}

{% if user.is_authenticated  %}
{% if user|is_doctor %}

 <header class="masthead  mastheadtickets text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row" >
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5"></br>Medical problems</br></br></br></h1>
        </div >
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        </div>
      </div>
    </div>
  </header>

  <div style="margin-top:25px;">
<div class="table-responsive" style="width: 95%; margin:auto;">

<div style=" margin:auto; ">
<table id="search_table" class="table table-bordered " style="width:100%">


        <thead class="sorting">
                <th >Patient</th>
                <th >Doctor</th>
                <th>Operation</th>
                <th>Status</th>
                <th>Description</th>
                <th>create date</th>
                <th class="order" >more</th>
                <th class="order" >more</th>
        </thead>
          <tbody id="tablebody" >
    {% for m in Ticket %}
  {%if m.Doctor_ID == pk and m.Doctor_ID == user.id%}
          <tr>
              <td>{{ m.Medical_problem_ID|get_username_ticket:Medical_problem  }}</td>
              <td>{{ m.Medical_problem_ID|get_doctor_ticket:Medical_problem  }}</td>
              <td>{{ m.Operation}}</td>
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
              {% if m.Status == 1 %}

                  <td><input class="btn btn-outline-info" style="width:100%"  type="submit" name={{m.id}} onclick="return confirm('Are you sure you want to open this ticket?')" value="closed"label = "del"></td>
              {% elif m.Status == 0 %}

                  <td><input class="btn btn-outline-info" style="width:100%"  type="submit" name={{m.id}} onclick="return confirm('Are you sure you want to close this ticket?')" value="opened" label="open"></td>
                  {%else%}
                  <td>Doctor neexistuje</td>
              {%endif%}
              </form>
              <td>{{m.Description}}</td>
              <td>{{ m.created.year}}-{{m.created.month}}-{{m.created.day}}</td>
              <td><a  class="btn btn-outline-info" style="width:100%"  href="{% url 'medical_ticket_record' m.id %}">fill data</a></td>
              <td><a  class="btn btn-outline-info" style="width:100%"  href="{% url 'make_compensation' m.id %}">request</a></td>
          </tr>
          {% endif %}
          {% endfor %}
          </tbody>
       <tfoot>
         <th>Patient</th>
         <th>Doctor</th>
         <th>Operation</th>
         <th>Status</th>
         <th>Description</th>
         <th>create date</th>
        <th></th>
        <th></th>
      </tfoot>
    </table>

</div>
</div>
{% endif %}
{% endif %}

<script>




$(document).ready(function() {
  // Setup - add a text input to each footer cell
  $('#search_table tfoot th').each( function () {
    var title = $('#search_table thead th').eq( $(this).index() ).text();
    $(this).html( '<input type="text" placeholder="Search '+title+'" />' ); } );
    // DataTable
    var table = $('#search_table').DataTable();
    // Apply the search
    table.columns().eq( 0 ).each( function ( colIdx )
    { $( 'input', table.column( colIdx ).footer() ).on( 'keyup change', function ()
    { table .column( colIdx ) .search( this.value ) .draw(); } ); } ); } );

//sorting


</script>


{% endblock content %}
