{% extends "hospital_is/base_wide.html" %}
{% block content %}
{% load customtags %}


 <header class="masthead  mastheadtickets text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row" >
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5"></br>Examinations</br></br></br></h1>
        </div >
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        </div>
      </div>
    </div>
  </header>

<div class="table-responsive" style="width: 95%; margin:auto;margin-top:25px;">
{% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
<div style=" margin:auto;">
  {% if user.is_authenticated  %}
  {% if user|is_patient  %}
<table id="search_table" class="table table-bordered " style="width:100%">


        <thead class="sorting">
                <th >Doctor</th>
                <th>Operation</th>
                <th>Status</th>
                <th>Description</th>
                <th>create date</th>
        </thead>
          <tbody id="tablebody" >
    {% for m in Ticket %}
    {% for p in Medical_problem %}
    {% if p.id == m.Medical_problem_ID  %}

  {% if p.Patient_ID == pk and p.Patient_ID == user.id %}
          <tr>
              <td>{{ m.Medical_problem_ID|get_doctor_ticket:Medical_problem  }}</td>
              <td>{{ m.Operation}}</td>
              {% if m.Status == 1 %}
            <td>  closed</td>
              {% elif m.Status == 0 %}
            <td>  opened</td>
                  {% else %}
                  <td>Doctor neexistuje</td>
              {% endif %}
              <td>{{m.Description}}</td>
              <td>{{m.created.year}}-{{m.created.month}}-{{m.created.day}}</td>
          </tr>
          {% endif %}
          {% endif %}
          {% endfor %}
          {% endfor %}

          </tbody>
       <tfoot>
         <th>Doctor</th>
         <th>Operation</th>
         <th>Status</th>
         <th>Description</th>
         <th>create date</th>

      </tfoot>
    </table>

</div>
{% endif %}
{% endif %}
</div>
<script>




$(document).ready(function() {
  // Setup - add a text input to each footer cell
  $('#search_table tfoot th').each( function () {
    var title = $('#search_table thead th').eq( $(this).index() ).text();
    $(this).html( '<input type="text" placeholder="Search '+title+'" />' ); } );
    // DataTable
    var table = $('#search_table').DataTable();
    // Apply the search
    table.columns().eq( 0 ).each( function ( colIdx )
    { $( 'input', table.column( colIdx ).footer() ).on( 'keyup change', function ()
    { table .column( colIdx ) .search( this.value ) .draw(); } ); } ); } );

//sorting


</script>


{% endblock content %}
