{% extends "hospital_is/base_wide.html" %}
{% block content %}
{% load customtags %}
 {% load multifor %}

{% if user.is_authenticated  %}
 <header class="masthead  mastheadusers text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row" >
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5"></br>Users</br></br></br></h1>
        </div >
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        </div>
      </div>
    </div>
  </header>

<div class="table-responsive" style="margin-top:25px;width: 95%; margin:auto;">
{% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
{% endif %}
<table id="search_table" class="table table-bordered " style="width:100%">



{% if user|is_admin  %}
      <a  class="btn btn-outline-info add_new_btn" href="{% url 'register' %}">Register user</a>
        <thead  class="sorting">
                <th>edit</th>
                <th>username</th>
                <th>first name</th>
                <th>last name</th>
                <th>email</th>
                <th>banned</th>
                <th>role</th>
                <th>birth date</th>
        </thead>
          <tbody id="tablebody" >

          {% for u in AuthUser ; p in Profiles %}
                <td><a style="width:100%;" class="btn btn-outline-info" href="{% url 'edit_profile' u.username %}">edit</a></td>
                <td>{{ u.username }}</td>
                <td>{{ u.first_name }}</td>
                <td>{{ u.last_name }}</td>
                <td>{{ u.email }}</td>
                {% if u.is_active %}
                    <td>no</td>
                {% else %}
                    <td>yes</td>
                {% endif %}
                <td>
                {% if u|is_insurance_w%}
                    insurance_w
                {% elif u|is_doctor%}
                    doctor
                {% elif u|is_admin%}
                    admin
                {% else %}
                    patient
                {% endif %}
                </td>
                <td>{{ p.birth_date.year}}-{{p.birth_date.month}}-{{p.birth_date.day}}</td>
              </tr>
          {% endfor %}

          </tbody>
      <tfoot>
                <th>edit</th>
                <th>username</th>
                <th>first name</th>
                <th>last name</th>
                <th>email</th>
                <th>banned</th>
                <th>role</th>
                <th>birth date</th>
        </tfoot>

{% endif %}
{% if user|is_doctor  %}

      <a  class="btn btn-outline-info add_new_btn"  href="{% url 'register' %}">Register patient</a>
        <thead class="sorting">
            <th>username</th>
            <th>first name</th>
            <th>last name</th>
            <th>email</th>
            <th>banned</th>
            <th>role</th>
            <th>birth date</th>
        </thead>
          <tbody id="tablebody" >

          {% for u in AuthUser ; p in Profiles %}
          {% if u|is_doctor or u|is_patient%}
                <td>{{ u.username }}</td>
                <td>{{ u.first_name }}</td>
                <td>{{ u.last_name }}</td>
                <td>{{ u.email }}</td>
                {% if u.is_active %}
                    <td>no</td>
                {% else %}
                    <td>yes</td>
                {% endif %}
                {% if u|is_doctor%}
                    <td>doctor</td>
                    <td></td>
                {% else %}
                    <td>patient</td>
                    <td>{{ p.birth_date.year}}-{{p.birth_date.month}}-{{p.birth_date.day}}</td>
                {% endif %}
              </tr>
          {% endif %}
          {% endfor %}

          </tbody>
      <tfoot>
                <th>username</th>
                <th>first name</th>
                <th>last name</th>
                <th>email</th>
                <th>banned</th>
                <th>role</th>
                <th>birth date</th>
        </tfoot>
{% endif %}

    </table>
    </div>
    </div>
{% endif %}
</table>
<script>
$(document).ready(function() {
  // Setup - add a text input to each footer cell
  $('#search_table tfoot th').each( function () {
    var title = $('#search_table thead th').eq( $(this).index() ).text();
    $(this).html( '<inputstyle="width:95%;" type="text" placeholder="Search '+title+'" />' ); } );
    // DataTable
     var table = $('#search_table').DataTable( { "scrollX": true  } );
    // Apply the search
    table.columns().eq( 0 ).each( function ( colIdx )
    { $( 'input', table.column( colIdx ).footer() ).on( 'keyup change', function ()
    { table .column( colIdx ) .search( this.value ) .draw(); } ); } ); } );
</script>


{% endblock content %}
