
{% extends "hospital_is/base.html" %}
{% load customtags %}


{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated  %}
{% if user|is_admin  or user|is_doctor %}

<div style=" margin:auto; margin-top:120px;">
{% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
    {% if user|is_admin %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ pic_form }}">
        <div class="media-body">
          <h2 class="account-heading">{{ username }}</h2>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
              {% for p in Patient %}
              {% if p.id == u_id %}
              {{hw_form|crispy}}
              {% endif %}
              {% endfor %}

          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
              {%if usr|is_doctor%}
              <input type="submit" name="del1" onclick="return confirm('Are you sure you want to delete this doc?')" value="Delete">
              {%else%}
              <input type="submit" name="del" onclick="return confirm('Are you sure you want to delete this user?')" value="Delete">
              {%endif%}
          </div>
      </form>
    </div>
    </div>
    {% endif %}
      {% if user|is_doctor %}
      <div class="content-section">
        <div class="media">
          <img class="rounded-circle account-img" src="{{ pic_form }}">
          <div class="media-body">
            <h2 class="account-heading">{{ username }}</h2>
          </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ u_form.first_name }}
                {{ u_form.last_name }}
                {{ p_form|crispy }}
                {% for p in Patient %}
                {% if p.id == u_id %}
                {{hw_form|crispy}}
                {% endif %}
                {% endfor %}

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
      </div>
      </div>
      {% endif %}
  {% endif %}
{% endif %}
{% endblock content %}
