
{% extends "hospital_is/base.html" %}
{% load customtags %}


{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated  %}
{% if user|is_admin  %}
<div class="table-responsive" style="width: 95%; margin:auto;margin-top:150px;">
{% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
    <div class="content-section">
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Choose a doctor that takes all the problems</legend>
              {{ u_form.as_p}}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>
    </div>
    </div>
    {% endif %}
    {% endif %}
{% endblock content %}
