
{% extends "hospital_information_system/default.html" %}

{% block content %}
        <h1>Free rooms</h1>
        {% for u in User %}
        <div style="display: inline-flex;" class="container p-3 my-3 bg-dark text-white ">
        <div >
        <p>id: {{ u.id }}</p>
        <p>first: {{ u.First_name }}</p>
        <p>last: {{ u.Last_name }}</p>
        <p>pass: {{ u.Password }}</p>
        <p>email: {{ u.Email }}</p>
        <p>telnum: {{ u.TelNum }}</p>
        <p>state: {{ u.State }}</p>
        </div>
        {% endfor %}
{% endblock content %}    